:root {
    --bg-color: #181818;
    --text-color: #FFF;
    --border-color: #333;
    --btn-bg-color: #007BFF;
    --btn-hover-color: #0056b3;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --divider-color: rgba(255, 255, 255, 0.2); 
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.newPost {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: var(--bg-color);
    padding: 15px; 
}

.newPost h2, .newPost .form-control {
    margin-top: 0;
    resize: vertical;
    margin-bottom: 10px; 
}

.btn-primary, .btn-secondary {
    background-color: var(--border-color);
    border: 1px solid green;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}



.btn-primary:hover {
    background-color: darkgreen;
    border: 1px var(--border-color);
}

.btn-primary:focus {
    background-color: var(--border-color); 
    border: 1px solid green;
}

.btn-secondary:hover {
    background-color: red;
    border: 1px var(--border-color);
}

.btn-secondary:focus {
    background-color: var(--border-color); 
    border: 1px solid darkred;
}

.allPost {
    margin-top: 30px; 
}

.post {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--bg-color);
    padding: 20px; 
    margin-bottom: 25px; 
    box-shadow: 0 2px 4px var(--shadow-color);
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--divider-color);
    padding-bottom: 10px; 
}

.content {
    font-size: 16px;
    margin-bottom: 15px; 
    color: var(--text-color);
}

.date {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}



.central-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    transition: background-color 0.2s ease;
}

.central-btn:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.central-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.btn-follow, .btn-unfollow  {
    padding: 2px 15px;
    border-radius: 22px;
    background-color: #181818; 
    color: #FFF; 
    border: 4px solid var(--border-color);
    transition: 0.3s;
}

.btn-follow:hover {
    font-weight: bold; 
    font-size: 105%;
    background-color: #4A90E2; 
    border: 3px solid blue;
}

.btn-unfollow:hover {
    font-weight: bold; 
    font-size: 105%; 
    background-color: lightcoral;
    border: 3px solid red;

}

.btn-up, .btn-down {
    background-color: transparent;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    border-radius: 22px;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease, border 0.2s ease;
}

.btn-up:active, .btn-down:active {
    background-color: #ffffff;
}

.btn-up:hover, .btn-down:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--text-color);
}

.btn-up:hover .fa {
    color: #34c3ff;
}

.btn-down:hover .fa {
    color: #ff4b5e;
}

.btn-up .fa, .btn-down .fa {
    margin-right: 0.5rem;
}

.btn-up .fa {
    color: #34c3ff;
}

.btn-down .fa {
    color: #ff4b5e;
}

.username a {
    text-decoration: none; 
    color: inherit; 
    transition: transform 0.3s ease, text-decoration 0.3s ease;
}

.username a:hover {
    transform: scale(1.05); 
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: underline; 
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    background-color: var(--bg-color);
}

.modal-header, .modal-footer {
    border-color: var(--border-color);
    background-color: var(--bg-color);
}

.modal-title {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--text-color);
}

.modal-body {
    background-color: var(--bg-color);
    border-top: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    color: var(--text-color);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.likes-count {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px 15px;
    border-radius: 12px;
    display: inline-block;
    font-weight: 500;
    transition: transform 0.3s ease, background-color 0.2s ease;
}

.likes-count:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
}

.likes-count:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.2);
}

.likes-count .fas.fa-heart {
    color: #ff4b5e; /* Un color rojo suave para el corazón */
    margin-right: 8px; /* Espaciado entre el ícono y el número */
}

.likes-number {
    color: var(--text-color);
    font-weight: 600;
}

